body
{
  background-color: #7a7a7a;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button, .comboBox
{
    background-color: #03c46a; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    position:absolute;
    top:0;
    right:0;
}

.centerElements
{
    top: 0%;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

.dName
{
  color: #03c46a;
  text-align: center;
  font-size: 3em;
  width: 350px; /* Need a specific value to work */

}

#moreInfoButton
{
  width: 200px;
  height: 30px;

  color: #ffffff;
  font-size: 1em;

  text-align: center;
}

#setDeviceName
{
  position: absolute;
  width: 250px;
  height: 40px;
  font-size: 1em;
  top: 13%;
  visibility: hidden;
}

#name
{
  top: 7%;
  color: #ffffff;
}

#changeButton
{
  top: 22%;
  color: #ffffff;
  text-align: center;
  width: 120px;
  height: 35px;
}


#doneButton
{
  top: 22%;
  color: #ffffff;
  text-align: center;
  width: 120px;
  height: 35px;
  visibility: hidden;

  background-color: #03c46a; /* Green */
  border: none;
  padding: 10px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}


#warningLabel
{
  top: 27%;
  color: #ad3c2e;

  text-align: center;
  width: 200px;
  height: 30px;
  font-size: 0.5em;

  visibility: hidden;
}

#playPauseButton
{
  top: 35%;
  color: #ffffff;
  text-align: center;
  width:  150px;
  height: 80px;

}

#sourceTitle
{
  top: 45%;
}

#choiceBox
{
  top: 60%;

  width: 100px;
  height: 50px;
  text-align: center;



  /* turn it off completely */
select:active, select:hover {
  outline: none
}

/* make it red instead (with with same width and style) */
select:active, select:hover {
  outline-color: #03c46a;
}

}

#powerSwitch
{
  top: 70%;

}

#onLabel
{
  top: 70%;
  color: #ba3728;

  text-align: center;
  font-size: 3em;
  width: 350px; /* Need a specific value to work */
}




/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #03c46a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #03c46a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#foot1
{
  position: absolute;
  font-size: 1em;
  color: #000000;
  top: 88%;
}

#foot2
{
  position: absolute;
  top: 90%;
  font-size: 2em;

}
